<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Tienda{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Tiendas/main.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ config.logo_url }}">

  <style>
    :root {
      --color-principal: {{ config.color_principal }};
      --color-secundario: {{ config.color_secundario }};
      --color-fondo: {{ config.color_fondo }};
    }
    html, body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      max-width: 100%;
    }

    * {
      box-sizing: border-box;
    }
  </style>
</head>
<body style="background-color: var(--color-fondo); font-family: 'Inter', sans-serif;">

  {% include 'PaginasTiendas/navbar_tienda.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'PaginasTiendas/footer_tienda.html' %}

</body>
</html>