<header class="navbar-tienda1">
  <div class="navbar-container">
    <a href="/pages/{{ nombre_tienda }}" class="navbar-logo">
      <img src="{{ config.logo_url }}" alt="Logo" class="logo-img">
      <span class="logo-text">{{ nombre_tienda }}</span>
    </a>
    <nav class="navbar-links">
      <a href="/pages/{{ nombre_tienda }}">Inicio</a>
      <a href="{{ url_for('tienda_publica.ver_productos', nombre_tienda=nombre_tienda) }}">Tienda</a>
      <a href="#nosotros">Nosotros</a>
      <a href="#" class="carrito-icon">🛒</a>
    </nav>
  </div>
</header>
