{% extends 'PaginasTiendas/base_tienda.html' %}

{% block title %}{{ nombre_tienda }} | Productos{% endblock %}

{% block content %}

{% if config.plantilla == "tienda_1" %}
  {% include 'PaginasTiendas/plantillas/tiendas/components/navbar1.html' %}
  <section class="productos-tienda1" id="productos">
    <div class="productos-grid">
      {% for producto in productos %}
      <a href="{{ url_for('tienda_publica.ver_producto', nombre_tienda=nombre_tienda, producto_id=producto.id) }}">
        <div class="producto-card">
          <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
          <h3>{{ producto.nombre }}</h3>
          <p class="precio">{{ producto.precio | round(2) }} €</p>
        </div>
      </a>

      {% endfor %}
    </div>
  </section>
{% elif config.plantilla == "tienda_2" %}

  {% include 'PaginasTiendas/plantillas/tiendas/components/navbar2.html' %}

  <section class="productos-grid" id="productos">
  {% for producto in productos %}
    <div class="producto-item">
      <a href="{{ url_for('tienda_publica.ver_producto', nombre_tienda=nombre_tienda, producto_id=producto.id) }}">
        <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}">
        <h3>{{ producto.nombre }}</h3>
        <p class="precio">{{ producto.precio }} €</p>
      </a>
      <button class="btn-carrito" id="btn-agregar-carrito"
        data-id="{{ producto.id }}"
        data-nombre="{{ producto.nombre }}"
        data-precio="{{ producto.precio }}"
        data-imagen="{{ producto.imagen_url or '' }}">
        Añadir al carrito 🛒
      </button>
    </div>
  {% endfor %}
</section>
{% endif %}




{% if total_paginas > 1 %}
<div class="paginacion">
  {% if pagina_actual > 1 %}
    <a href="{{ url_for('tienda_publica.ver_productos', nombre_tienda=nombre_tienda, pagina=pagina_actual-1) }}" class="pagina-anterior">← Anterior</a>
  {% endif %}

  {% for i in range(1, total_paginas + 1) %}
    {% if i == pagina_actual %}
      <span class="pagina-actual">{{ i }}</span>
    {% else %}
      <a href="{{ url_for('tienda_publica.ver_productos', nombre_tienda=nombre_tienda, pagina=i) }}">{{ i }}</a>
    {% endif %}
  {% endfor %}

  {% if pagina_actual < total_paginas %}
    <a href="{{ url_for('tienda_publica.ver_productos', nombre_tienda=nombre_tienda, pagina=pagina_actual+1) }}" class="pagina-siguiente">Siguiente →</a>
  {% endif %}
</div>
{% endif %}

{% if config.plantilla == "tienda_1" %}
  {% include 'PaginasTiendas/plantillas/tiendas/components/footer1.html' %}
{% elif config.plantilla == "tienda_2" %}
  {% include 'PaginasTiendas/plantillas/tiendas/components/footer2.html' %}
{% endif %}

{% endblock %}
