.paginacion {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  flex-wrap: wrap;

  a, span {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
  }

  .pagina-actual {
    background-color: var(--color-principal);
    color: white;
    border-color: var(--color-principal);
  }

  a:hover {
    background-color: var(--color-secundario);
    color: white;
  }
}